@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Dongle&family=Fascinate+Inline&display=swap');

:root {
    --primary-100: #D2F1E4;
    --primary-200: #FBCAEF;
    --primary-300: #F865B0;
    --primary-400: #E637BF;
    --primary-500: #48304D;

    --font-color: var(--primary-500);
    --background: var(--primary-200);

    --body-font: "Alumni Sans Pinstripe", sans-serif;
    --header-font: "Dongle", sans-serif;
    --special-font: "Fascinate Inline", system-ui;
    
}

body {
    margin: 0;
    color: var(--font-color);
    background-color: var(--background);
    font-family: var(--body-font);
}

h1,h2,h3,h4,h5 
{
    font-family: var(--header-font);
}

.specialText
{
    font-family: var(--special-font);
}



/* Menu g³ówne */

.navbar {
    /*background-color: black;*/

    display: flex;
    justify-content: center;
}

.nav-center 
{
    /*background-color: white;*/
    width: 80vw;
}

.nav-logo > img 
{
    height: 6rem;
}

.nav-header 
{
    height: 6rem;
    font-size: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn 
{
    cursor: pointer;
    background-color: var(--primary-300);
    color: var(--primary-100);
    padding: 0.3rem 0.7rem;
    border-radius: 0.25rem;
    border-color: transparent;
}

.nav-btn >  i 
{
    font-size: 1.25rem;
}

.nav-links 
{
    display: flex;
    flex-direction: column;
}