@{
    ViewData["Title"] = "CV";
}

@section Style 
{
	<link href="~/css/CV.css" rel="stylesheet" />
}


<div class="container">
    <div class="left">
        <div class="profile">
            <img src="https://cdn.pixabay.com/photo/2022/05/04/22/24/fashion-7174896_1280.jpg" alt="Steven Terry">
            <h1>STEVEN TERRY</h1>
            <h2>Sales Staff</h2>
        </div>
        <div class="section info">
            <p><strong>Male</strong></p>
            <p>May 19, 1995</p>
            <p>Steven@3223.com</p>
            <p>986-2323-3434</p>
            <p>http://steven-info.me</p>
            <p>London, England</p>
        </div>
        <div class="section">
            <h3>OBJECTIVE</h3>
            <p>Take advantages of sales skills & experience and understanding of market to become a professional Sales Staff and bring a lot value to Customers. From that, I will contribute to development of TOPCV Company.</p>
        </div>
        <div class="section">
            <h3>SKILLS</h3>
            <p><strong>Computer:</strong> Word, Excel, PowerPoint</p>
            <p><strong>Language:</strong> English, Japanese, Chinese</p>
        </div>
        <div class="section">
            <h3>INTERESTS</h3>
            <p>I like soccer, music..</p>
        </div>
    </div>
    <div class="right">
        <div class="section">
            <h3>EDUCATION</h3>
            <p><strong>TOPCV University</strong>, Corporate Administration</p>
            <p>Oct 2012 - May 2016</p>
            <p>GPA: 3.6/4</p>
        </div>
        <div class="section">
            <h3>WORK EXPERIENCE</h3>
            <p><strong>TOPCV JSC</strong>, Sales Staff<br>May 2016 - Present</p>
            <ul>
                <li>Write and upload product advertising post via Facebook, Forum...</li>
                <li>Introduce, consult products and answer customers' queries via phone and email.</li>
                <li>Assist to control goods in and out</li>
            </ul>
            <p><strong>TOPCV Shop</strong>, Part-time Sales Staff<br>Nov 2013 - Jun 2014</p>
            <ul>
                <li>Sell goods for Foreigners and Vietnamese at the Shop</li>
                <li>Advertise products on media publications such as: banner, posters, leaflets...</li>
                <li>Make reports of sales every day</li>
            </ul>
        </div>
        <div class="section">
            <h3>ACTIVITIES</h3>
            <p><strong>TOPCV - EDUCATION TALK 2014</strong>, Member<br>Jun 2014 - Feb 2015</p>
            <ul>
                <li>Organize monthly events, network with US alumni</li>
                <li>Share how to hunt scholarships and US student’s life experiences to all students who have received offers from US universities</li>
            </ul>
        </div>
    </div>
</div>