@{
    ViewData["Title"] = "Strona główna";
}

<i class="fa-solid fa-truck-monster"></i>

<p>
    Testowy tekst
</p>

<ul class="specialText">
    <li>Test</li>
    <li>Test</li>
    <li>Test</li>
</ul>