@{
    ViewData["Title"] = "Strona główna";
}

@section Style 
{
    <style>
        .welcome 
        {
            font-family: var(--special-font);
            font-size: 3rem;
            min-height: calc(100vh - 4rem - 6rem - 2rem);
            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;
        }

        .welcome::after 
        {
            content: attr(data-loading-text);
            color: var(--primary-300);

            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
}


<div class="welcome" data-loading-text="Cześć">
    Cześć

</div>