@{
    ViewData["Title"] = "O mnie";
}

@section Style 
{
	<link href="~/css/omnie.css" rel="stylesheet" />
}

<h1>O mnie</h1>

<div class="omnie">
    <div class="pic">
        <img src="https://cdn.pixabay.com/photo/2022/05/04/22/24/fashion-7174896_1280.jpg" />
    </div>
    <div class="desc">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel ultrices lacus. Vestibulum imperdiet nibh nec finibus tempor. Vestibulum lacinia felis at justo cursus, in iaculis purus lobortis. In efficitur sem lobortis, fringilla justo ut, fringilla massa. Nunc sed risus at nisl lobortis consectetur ut at nunc. Aliquam vitae commodo lorem. Nunc vehicula nisl porta porttitor ornare. Nam quis velit sit amet diam vulputate accumsan. Sed tempus pharetra erat ac elementum. Praesent convallis libero quis tellus dapibus ultricies. Suspendisse justo nisi, bibendum accumsan augue quis, varius iaculis felis. Mauris eu molestie tellus. Fusce eget lorem non nisi suscipit egestas eu nec diam. Proin non magna eu sem molestie aliquet. Etiam ut pulvinar ex, vel pulvinar ante.

            Nulla scelerisque, est at porta placerat, nisi mauris efficitur nisl, et aliquam magna purus nec magna. Curabitur vel luctus velit. Aliquam pharetra pulvinar sem, efficitur gravida turpis. Pellentesque bibendum, purus vel pretium lacinia, magna augue mattis arcu, lacinia vestibulum sem orci a elit. Nulla tempor mattis lacus nec accumsan. In quam nisi, facilisis ac dolor ac, blandit luctus sapien. Nullam sagittis fermentum metus. Integer eleifend tincidunt mauris. Fusce at finibus leo, et laoreet ex. Aliquam dignissim in nunc sit amet aliquet. Sed sed nisl volutpat, vehicula purus eget, convallis lectus. Praesent tempus risus quam, non accumsan arcu scelerisque quis. Donec non cursus tellus, in luctus est. Aliquam iaculis in quam ac auctor. Aliquam dignissim turpis ultricies lacinia laoreet.
        </p>
        <p>LinkedIn: <a href="https://pl.linkedin.com/" target="_blank">link</a></p>
        <p>GitHub: <a href="https://github.com/apiszczukw" target="_blank">link</a></p>
    </div>
</div>