@{
    ViewData["Title"] = "Projekty";
}
@section Style
{
    <link href="~/css/projects.css" rel="stylesheet" />
}

<h1> Projekty </h1>

<div class="projects">
   
    <div class="project">
        <h2>Nazwa projektu</h2>
        <img src="https://cdn.pixabay.com/photo/2015/02/13/21/24/finance-635805_960_720.jpg" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in nibh tempor, laoreet metus eget, egestas orci. Aenean sed consectetur dui. Lorem ipsum dolor sit.</p>
        <p>
            <b>#hashtag</b>
            <b>#slowokluczowe</b>
            <b>#wykorzystanenarzedzia</b>
        </p>
    </div>
    <div class="project">
        <h2>Nazwa projektu</h2>
        <img src="https://cdn.pixabay.com/photo/2015/02/13/21/24/finance-635805_960_720.jpg" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in nibh tempor, laoreet metus eget, egestas orci. Aenean sed consectetur dui. Lorem ipsum dolor sit.</p>
        <p>
            <b>#hashtag</b>
            <b>#slowokluczowe</b>
            <b>#wykorzystanenarzedzia</b>
        </p>
    </div> 
    <div class="project">
        <h2>Nazwa projektu</h2>
        <img src="https://cdn.pixabay.com/photo/2015/02/13/21/24/finance-635805_960_720.jpg" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in nibh tempor, laoreet metus eget, egestas orci. Aenean sed consectetur dui. Lorem ipsum dolor sit.</p>
        <p>
            <b>#hashtag</b>
            <b>#slowokluczowe</b>
            <b>#wykorzystanenarzedzia</b>
        </p>
    </div>
    

</div>